Name:      datenstrom-devel
Version:   ${VERSION}
Release:   ${RELEASE}
Summary:   Data serialisation and encoding framework
Source0:   datenstrom-devel-%{version}-%{release}.tar.gz

License:   Proprietary

BuildRoot: BUILDROOT/%{name}-%{version}-%{release}-root

%define          debug_package %{nil}

%description
%{summary}

%prep
%setup -q

%build

%install
rm -rf %{buildroot}
mkdir -p  %{buildroot}

cp -a * %{buildroot}

%files
${FILES}

%changelog
* Thu Mar 27 2025 Matt Henderson <matt.henderson@lucidsw.com.au>

- Initial rpm implementation