#------------------------------------------------------------------------------

DS_BIN=YES
DS_CSV=YES
DS_DB=YES
DS_FIREBIRD=YES
DS_MYSQL=YES
DS_SQLITE=YES
DS_MSSQL=YES
DS_POSTGRESQL=YES

#------------------------------------------------------------------------------

DS_FIREBIRD_TEST="firebird://fbhost//tmp?username=sysdba&password=masterkey"
DS_MYSQL_TEST="mysql://mysqlhost?username=root"
DS_MSSQL_TEST="mssql://mssqlhost/SQLEXPRESS?username=tester&password=tester&variant=azure&timeout=120"
DS_POSTGRESQL_TEST="postgresql://pghost?username=tester&password=tester"
DS_SQLITE_TEST="sqlite:////tmp"

#------------------------------------------------------------------------------
